/*Main settings for whole page*/
body{
    margin: 0;
    padding: 0;
    color: #333;
}
/*header styles*/
header{
    display: flex;
    height: 100px;
    background-color: #FFE7CC;
}
header section{
    flex: 1;
    display: flex;
    align-items: center;
}
header section * {
    display: flex;
    gap: 30px;
}
header section h1{
    font-size: 36px;
    margin-left: 150px;
}
header section h1:hover{
    cursor: pointer;
    color: #555;
}
header section:nth-child(2){
    justify-content: center;
    font-size: 16px;
}
header section:nth-child(2) ul{
    margin-right: 150px;
}
header section:nth-child(2) ul li a{
    text-decoration: none;
    font-size: 24px;
    color: #333;
}
header section:nth-child(2) ul li a:hover{
    color: #555;
    cursor: pointer;
}
/*end of the header styles*/

/*quick preview styles*/
#preview{
    display: flex;
}
#preview section{
    flex: 1;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#preview section:first-child{
    padding: 75px 75px 100px 130px;
}
#preview section:nth-child(2){
    padding: 75px 130px 100px 75px;
}
#preview section h3{
    font-size: 30px;
    margin-bottom: 3px;
}
#preview section p{
    font-size: 22px;
}
#preview section img{
    height: 350px;
}
#preview section button{
    width: 50%;
    height: 15%;
    border-radius: 12px;
    font-size: 20px;
    color: white;
    font-weight: 700;
    background-color: #083AA9;
    border: 1px solid #083AA9;
    transition: all ease-in-out 0.2s;
}
#preview section button:hover{
    background-color: white;
    color:#083AA9;
    cursor: pointer;
}
/*end of quick preview styles*/

/* technologies section */
#technologies{
    background: #FFE7CC;
    padding-bottom: 30px;
}
#technologies *{
    background: #FFE7CC;
}
#technologies section h1 {
    padding-top: 70px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 48px;
}
#technologies .items {
    display: flex;
    padding: 0 100px;
    justify-content:center;
}
#technologies .items .item{
    flex: 1;
}
#technologies .items .item .image{
    width: 200px;
    height: 200px;
    border: 10px solid #E1CEB5;
    border-radius: 10px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
} 
#technologies .items .item .image img{
    width: 200px;
    height: 200px;
}
#technologies .items .item:nth-child(2) .image img{
    width: 142px;
    height: 142px;
}
#technologies .items .item:nth-child(3) .image img{
    width: 142px;
    height: 142px;
}
#technologies .items .item:nth-child(4) .image img{
    width: 150px;
    height: 95px;
}
#technologies .items .item h3{
    text-align: center;
    font-size: 30px;
}
/*end of the technologies section*/

/*quote section*/
#quote{
    background-color: #EEE;
    color: #555;
    display: flex;
    flex-direction: column;
    padding: 25px 100px;
}
#quote p {
    font-size: 35px;
    font-weight: 300;
}
#quote p:nth-child(2){
    align-self:flex-end;
    margin-right: 0;
}
/*end of the quote section*/

/*callback section*/
#callback{
    background-color: white;
    padding: 100px 100px;
}
#callback section{
    color: white;
    width: 80%;
    margin: auto;
    padding: 10px;
    display: flex;
    background-color: #083AA9;
    border: 1px solid #083AA9;
    border-radius: 30px;
}
#callback section .text{
    flex: 3;
    flex-direction: column;
}
#callback section .text *{
    padding-left: 50px;
}
#callback section .text h2{
    margin-bottom: 2px;
    font-size: 32px;
}
#callback section .text p{
    font-size: 20px;
}
#callback section .button{
    flex: 1;
    align-items: center;
    justify-content: center;
}
#callback section .button a button{
    width: 170px;
    height: 60px;
    font-size: 25px;
    border-radius: 12px;
    color: white;
    font-weight: 700;
    background-color: #083AA9;
    border: 1px solid white;
    transition: all ease-in-out 0.2s;
}
#callback section .button a button:hover{
    color: #083AA9;
    background-color: white;
    cursor: pointer;
}
/*end of the callback section*/

/*footer section*/
footer{
    background-color: #002E94;
    color: white;
    text-align: center;
    padding: 10px;
}
/*end of footer section*/